In [1]:
import pandas as pd

In [2]:
"Creating DaraFrame with text"
rainfall = pd.DataFrame(data={"Miasto 1":[300.1, 100.2],"Miasto 2":[400.3, 300.4], "Miasto 3": [1000.5, 1100.6]})
users = pd.DataFrame(data = ["mArk", "JOHN", "Tim", "jenny"], columns =["imię"])
users

    imię
0   mArk
1   JOHN
2    Tim
3  jenny

In [3]:
"Clearing text Data"
users_cleaned = users.loc[:,"imię"].str.strip().str.capitalize()
users_cleaned

0     Mark
1     John
2      Tim
3    Jenny
Name: imię, dtype: object

In [4]:
"Checking which one start with J letter"
users_cleaned.str.startswith("J")

0    False
1     True
2    False
3     True
Name: imię, dtype: bool

In [5]:
rainfall

   Miasto 1  Miasto 2  Miasto 3
0     300.1     400.3    1000.5
1     100.2     300.4    1100.6

In [6]:
"Describing new funcion"
def format_string(x):
    return f"{x:,.2f}"

In [7]:
rainfall.applymap(format_string)

  Miasto 1 Miasto 2  Miasto 3
0   300.10   400.30  1,000.50
1   100.20   300.40  1,100.60

In [8]:
rainfall.applymap(lambda x: f"{x:,.2f}")

  Miasto 1 Miasto 2  Miasto 3
0   300.10   400.30  1,000.50
1   100.20   300.40  1,100.60